<%- include('parts/html-head')%>
<%- include('parts/html-navbar')%>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>age</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i of sales) { %>
                <tr>
                    <td><%= i.id %></td>
                    <td><%= i.name %></td>
                    <td><%= i.age %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <%- include('parts/script')%>
    <%- include('parts/html-foot')%>
    
