<%- include('../parts/html-head')%>
<%- include('../parts/html-navbar')%>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="alert alert-success" role="alert" style="display: none;" id="info_bar"></div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">修改資料</h5>
                    <form name="form1" onsubmit=" return checkForm()">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" required value="<%= name %>">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" value="<%= email %>">
                        </div>
                        <div class="form-group">
                            <label for="mobile">Mobile</label>
                            <input type="text" class="form-control" id="mobile" placeholder="Enter mobile" name="mobile"
                            pattern="09\d{2}-?\d{3}-?\d{3}" value="<%= mobile %>">
                        </div>
                        <div class="form-group">
                            <label for="birthday">Birthday</label>
                            <input type="text" class="form-control" id="birthday" placeholder="Enter birthday" name="birthday" value="<%= birthday %>">
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <textarea class="form-control"name="address" id="address" cols="30" rows="10"><%= address %></textarea>
                        </div>
                        <input type="hidden" name="sid" value="<%= sid %>">
                        
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<%- include('../parts/script')%>
<script>
    function checkForm(){

        const fd = new FormData(document.form1);
        fetch('/address-book/edit',{
            method: 'POST',
            body: fd
        })
        .then(r=>r.json())
        .then(obj=>{
            console.log(obj);
            $("#info_bar").hide();
            if (obj.success) {
                    $("#info_bar").removeClass('alert-danger').addClass('alert-success').text('修改成功')
                    setTimeout(()=>{
                        $("#info_bar").slideUp();
                        location.href= '<%= referer %>';
                    },1000)

                } else {
                    $("#info_bar").removeClass('alert-success').addClass('alert-danger').text('沒有修改')
                    setTimeout(()=>{
                        $("#info_bar").slideUp();
                    },1000)
                }
                $("#info_bar").show();
        })

        return false;
    }
</script>
<%- include('../parts/html-foot')%>